# MongoDB Connection String
# Replace with your MongoDB Atlas URI or use local MongoDB

mongodb+srv://fuelqruser:Puka123456.S@fuel-qr-cluster.thcubk8.mongodb.net/?appName=fuel-qr-cluster

# Server Port
PORT=3000
